.btn{
  border-radius: 200px;
  padding: 16px 60px;
  min-width: 166px;
  height: 56px;
  background: var(--color-button);
  color: var(--color-white);
  display: inline-block;
  width: fit-content;
}

.btn:hover{
  background: var(--color-button-hover);
}