.panel {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 360px;
}



.panel>h3:not(:first-child) {
  margin-top: 32px;
}

.mainTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text);
}

.subtitle {
  margin-bottom: 8px;
  font-weight: var(--fw-regular);
  font-size: 16px;
  line-height: 150%;
  color: var(--color-gray);
}

.sectionTitle {
  font-family: var(--ff-inter);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--color-main);

  position: relative;
  margin-bottom: 48px;
  /* 24px до лінії + 24px після */
}

.sectionTitle::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-light);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 16px;
  width: 20px;
  height: 20px;
  color: var(--color-gray);
  pointer-events: none;
}

.input {
  width: 100%;
  padding: 16px 20px 16px 44px;
  border: 1px solid var(--color-gray-light);
  border-radius: 12px;
  font-size: 16px;
  color: var(--color-main);
  background: var(--color-inputs);
}

.input::placeholder {
  color: var(--color-gray);
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.chip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-gray-light);
  border-radius: 10px;
  padding: 16px 12px;
  width: 112px;
  height: 96px;
  background: var(--color-white);
  color: var(--color-main);
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: border var(--transition), background var(--transition);
}

.chip:hover {
  border-color: var(--color-button);
  background: var(--color-white);
}

.chip.active {
  border-color: var(--color-button);
  background: var(--color-inputs);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.reset {
  background: var(--color-white);
  color: var(--color-main);
  border: 1px solid var(--color-gray-light);
  padding: 16px 32px;
}

.reset:hover {
  background: var(--color-button);
  color: var(--color-white);
}