.list {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.top {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  min-width: 60px;
  height: 60px;
  border-radius: 60px;
  background: var(--color-badges);
  color: var(--color-button);
  font-weight: var(--fw-semibold);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.comment {
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-gray-dark);
  margin: 0;
}